.navbar {
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

span {
  color: white;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: black;
  border-radius: 5%;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu a {
  color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}